

.button_theme {
  height: 40px;
  background: none;
  border: none;
  font-weight: 500;
}

.button_theme:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: lightgray;
}

.button_theme img {
  width: 16px;
  height: 16px;
}

.header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  position: sticky;
}

.logo_cont {
    justify-content: space-between;
    display: flex;
    margin: auto 0 auto 5%;
    width: 170px;
}

.logo_title{
    font-size: 26px;
    font-family: "EB Garamond";
    color: #2B3E59;
    font-weight: 800;
}

.nav_item {
  width: 133px;
  margin: auto 2%;
  display: flex;
}

.nav_item:hover {
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
  background-color: lightgray;
}

.img_cont_nav {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  margin: auto 5%;
  background-color: royalblue;
}

.img_cont_nav img {
  margin: auto;
}

.nav_title {
  font-family: "Lato";
  font-weight: 600;
  size: 20px;
}

.theme_cont {
  display: flex;
  margin: auto 1.25%;
}

.menu_img_container{
    transition: 1.25s ease-out;
    visibility: hidden;
    margin: auto 15px auto 4px;
}

.side_nav{
    display: block;
    border: 1.25px solid #1976d2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 326px;
    height: 100rem;
    background-color: white;
}

.closed_sidenav{
    transition: all 0.3s ease;
    opacity: 0.6;
}

.close_container{
    position: absolute;
    right: 0;
    top: 0;
    margin: 28px 31px 0 0;
}

.nav_items_container{
    display: block;
    margin-top: 60px;
}

.burger_light{
    stroke: black;
}

.circle{
    margin: auto;
    display: flex;
    width: 58px;
    height: 58px;
    border-radius: 58px;
    background-color: #D3BB3D;
}

.circle svg{
    margin: auto;
}


/*----------------------------------------- Dark Theme --------------------------------------------------- */

.header-dark {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: #1976d2;
  }

  .img_cont_nav-dark {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    margin: auto 5%;
    background-color: #EFB57B;
  }

  .img_cont_nav-dark img {
    margin: auto;
  }

  .nav_title-dark {
    font-family: "Lato";
    font-weight: 600;
    size: 20px;
    color: white;
  }

  .button_theme-dark {
    height: 40px;
    background: none;
    border: none;
    color: white;
    font-weight: 500;
  }
  
  .button_theme-dark:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: lightgray;
  }
  
  .button_theme-dark img {
    width: 16px;
    height: 16px;
  }

  .burger_dark{
    stroke: white;
}

.logo_title-dark{
    font-size: 26px;
    font-family: "EB Garamond";
    color: white;
    font-weight: 800;
}


/*----------------------------------------- Mobile Design --------------------------------------------------- */

  @media only screen and (max-width: 600px) {
    .header{
        display: flex;
    }

    .button_theme{
        display: flex;
        flex-direction: column;
    }

    .button_theme img{
        margin: auto;
    }

    .button_theme-dark{
        display: flex;
        flex-direction: column;
    }

    .button_theme-dark img{
        margin: auto;
    }

    .menu_img_container{
        visibility: visible;
    }

    .nav_item{
        display: none;
    }

    .theme_cont{
        margin: auto 10px auto 95px;
    }

    .nav_item_side_bar{
        display: flex;
        margin: 10px 20px;
    }

    .nav_item_side_bar:hover{
        border-radius: 10px;
        background-color: lightgray;
        transition: 0.3s;
    
    }

    .img_container_sidenav{
        display: flex;
        width: 30px;
        height: 30px;
        border-radius: 7px;
        margin: auto 5%;
        background-color: royalblue;
    }

    .img_container_sidenav img{
        margin: auto;
    }

    .side_nav_title{
        font-family: "Lato";
        font-weight: 600;
        font-size: 16px;
    }
  }