<div class="header">
    <div class="logo_cont">
        <img src="assets/images/logotype.png" alt="">
    </div>

    <div class="nav_item">
        <div class="img_cont_nav">
            <img src="assets/images/catalog.png" alt="">
        </div>
        <p class="nav_title">Catalogue</p>
    </div>

    <div class="nav_item">
        <div class="img_cont_nav">
            <img src="assets/images/discounts.png" alt="">
        </div>
        <p class="nav_title">Discounts</p>
    </div>

    <div class="nav_item">
        <div class="img_cont_nav">
            <img src="assets/images/favorites.png" alt="">
        </div>
        <p class="nav_title">Best Sellers</p>
    </div>
</div>
