.main{
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(100% 197.75% at 100% 0%, #CEFAE5 0%, #E6FC9D 100%);
}

.botton_cont{
    display: flex;
    justify-content: space-between;
}

.space{
    width: 100%;
    background-color: #dafbbd;
    height: 2.5vh;
}

.search_bar{
    margin: 0 10% 5% 10%;
    width: 447px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    border: 1.5px solid #D3BB3D;
}

.search_bar input{
    border: none;
    width: 80%;
}

.search_bar input:focus{
    outline: none;
}

.search_img_cont{
    border-radius: 10px 0 0 10px;
    background-color: white;
    display: flex;
}

.white_space{
    width: 3%;
    background-color: white;
}

.search_img_cont img{
    padding-left: 10px;
    margin: auto;
    width: 20px;
    height: 20px;
}

.cancel_search{
    width: 20%;
    background-color: white;
    border-radius: 0 10px 10px 0;
    display: flex;
}

.cancel_search img{
    margin: auto 15% auto auto;
    width: 20px;
    height: 20px;
}

.cancel_search img:hover{
    cursor: pointer;
}

.button_container{
    display: flex;
    justify-content: space-around;
}

.button_action{
    width: 40px;
    height: 40px;
    margin: 0 3px;
    border-radius: 10px;
}

.button_action:hover{
    cursor: pointer;
}

.button_action img{
    margin: auto;
    width: 18px;
    height: 18px;
}

.action_cont{
    margin-right: 1.5%;
}

.button_filter{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 0 20px 0 3px;
}

.button_filter:hover{
    cursor: pointer;
}

.button_filter img{
    width: 25px;
    height: 25px;
}

.book_card{
    border: 1.25px solid #303030;
    /* margin: 0 auto; */
    width: 364px;
    height: 220px;
    border-radius: 10px;
    background-color: white;
    display: flex;
}

.book_card:hover{
    transition: 0.2s ease-in-out;
    transform: translate(5px, -20px);
    box-shadow: 8px 5px 5px #5A5A5A;
    cursor: pointer;
}

.book_img{
    border-radius: 10px 0 0 10px;
    width: 148px;
    height: 220px;
}

.book_img img{
    border-radius: 10px 0 0 10px;
    width: 100%;
    height: 100%;
    border-right: 1.25px solid #303030;
}

.book_info{
    width: 220px;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
}

.book_title{
    display: flex;
    height: 105px;
    margin: 0 5% 2% 5%;
}

.title_text{
    font-size: 20px;
    font-weight: 600;
    font-family: "EB Garamond";
    color: #2B3E59;
}

.book_description{
    display: flex;
    margin: 2% 5%;
}

.description_text{
    color: #2B3E59;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
}

.grid_container{
    display: flex;
    flex-wrap: wrap;
}

.grid{
    justify-content: center;
    margin: 0 10px 25px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 364px);
    grid-auto-rows: minmax(100px, auto);
    gap: 37px;
    width: 100%;
}

.list{
    display: block;
    margin: 0 auto 10px auto;
}

.list .book_card{
    width: 80vw;
    height: 300px;
    margin: 30px 0;
}

.list .book_title{
    width: max-content;
}

.list .book_img{
    width: 25%;
    height: 100%;
}

.list .book_img img{
    width: 100%;
    height: 100%;
    border-right: 1.25px solid #303030;
}

.list .book_info{
    width: 60%;
    margin: 5px auto 5px auto;
}

.spinner_container{
    width: 100%;
    display: flex;
    height: 100rem;
}

.loader {
    margin: 35% auto;
    position: relative;
    width: 120px;
    height: 140px;
    background-image: radial-gradient(circle 30px, #fff 100%, transparent 0),
    radial-gradient(circle 5px, #fff 100%, transparent 0),
    radial-gradient(circle 5px, #fff 100%, transparent 0),
    linear-gradient(#FFF 20px, transparent 0);
    background-position: center 127px , 94px 102px , 16px 18px, center 114px;
    background-size: 60px 60px, 10px 10px , 10px 10px , 4px 14px;
    background-repeat: no-repeat;
    z-index: 10;
    perspective: 500px;
  }
  .loader::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 3px solid #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%) rotate(-45deg);
    border-right-color: transparent;
    box-sizing: border-box;
}
  .loader::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    transform: translate(-50%, -55%) rotate(-45deg) rotateY(0deg) ;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    border: 7px solid #FF3D00;
    border-radius:50%;
    animation: rotate 0.5s linear infinite;
  }

@keyframes rotate {
  to{transform: translate(-50%, -55%) rotate(-45deg) rotateY(360deg)   }
}
    

/* -------------------------- Dark Theme ------------------------*/

.main-dark{
    width: 100%;
    min-height: 100vh;
    background-color: #303030;
}

.space-dark{
    width: 100%;
    background-color: #303030;
    height: 2.5vh;
}

.book_card-dark{
    border: 1.25px solid;
    width: 364px;
    height: 220px;
    border-radius: 10px;
    background-color: white;
    display: flex;
}

.book_card-dark:hover{
    transition: 0.2s ease-in-out;
    transform: translate(5px, -20px);
    box-shadow: none;
    cursor: pointer;
}

.list-dark{
    display: block;
    margin: 0 auto 10px auto;
}

.list-dark .book_card-dark{
    width: 80vw;
    height: 300px;
    margin: 30px 0;
}

.list-dark .book_title{
    width: max-content;
}

.list-dark .book_img{
    width: 25%;
    height: 100%;
}

.list-dark .book_img img{
    width: 100%;
    height: 100%;
}


/*----------------------------------------- Mobile Design --------------------------------------------------- */

@media only screen and (max-width: 600px) {
    .botton_cont{
        display: block;
    }

    .search_bar{
        width: 366px;
        margin: 5px 15px;
    }

    .button_container{
        visibility: hidden;
        
    }

    .button_filter{
        margin-right: 0;
    }

}